---
layout: base.njk
title: Tags
---
<h1>Tags</h1>
<ul class="tag-list">
  {% for tag in collections.tagList %}
  <li><a class="tag-pill" href="{{ prefix }}/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
  {% endfor %}
</ul>
